/* white */
/* /\*#061F32*\/ */
/* #168CE5 */

/*General css */
body {
  font: 10px sans-serif;
  background-color:white;
}

/* Layout*/
#main{

}

#map{
}

#activity{
}

/* Map css */
#map > svg{
  background-color: #68707B;
}

path.area{
  fill: #68707B;
  stroke: #68707B;
}

.line {
  fill: none;
  stroke: #168CE5;
  stroke-width: 1.5px;
}

.feature {
  fill: #68707B;
  stroke: white;
}

.selectable{
  stroke: #ccc;
}

/* Alert css*/ 
#alertIcon {
    background: url("/img/navigation-sprite-1.png") no-repeat scroll -48px -64px transparent;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: 4px 0 0 8px;
}

#alert{
    display:inline-block;
    height: 17px;
}

#alertText{
  font: 10px sans-serif;
  color: #68707B;
  position: relative;
  top: -5px;
}

/*Explore css *