body {
  font: 10px sans-serif;
}

path.area{
  fill: lightsteelblue;
  stroke: #ccc;
}

.feature {
  fill: #eee;
  stroke: #ccc;
}


#week{
  right:20px;
  bottom: 20px;
  position: absolute;
}
#clock{
  right:20px;
  top: 20px;
  position: absolute;
}

#map{
  left:20px;
  top: 20px;
  position: absolute;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.thickline {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.rule {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.feature {
  fill: #eee;
  stroke: #ccc;
}

.selected{
  fill: steelblue;
  stroke: #ccc;
}

.unselected{
  fill: lightsteelblue;
  stroke: #ccc;
}

.outerArc{
  fill: lightsteelblue;
  stroke: #ccc;
}

.outerCircle{
  fill: steelblue;
  stroke: #ccc;
}

.text{
  font: 10px sans-serif;
}