body {
  font: 10px sans-serif;
  background-color:white;
}

text{
  fill: #68707B;
}

path.area{
  fill: #68707B;
  stroke: #68707B;
}

#week{
  right:20px;
  bottom: 20px;
  position: absolute;
}

#clock{
  right:20px;
  top: 20px;
  position: absolute;
}

#map{
  left:20px;
  bottom: 35px;
  position: absolute;
}

.line {
  fill: none;
  stroke: #168CE5;
  stroke-width: 1.5px;
}

/* white */
/* /\*#061F32*\/ */
/* #168CE5 */

.feature {
  fill: #68707B;
  stroke: white;
}

.selected{
  fill: #061F32;
  stroke: #ccc;
}

.unselected{
  fill: #168CE5;
  stroke: #ccc;
}

.outerArc{
  fill: #168CE5;
  stroke: #168CE5;
}

.outerCircle{
  fill: #061F32;
}

#stats {
  padding-left:20px;
  padding-top:40px;
}

#alertIcon {
    background: url("/img/navigation-sprite-1.png") no-repeat scroll -48px -64px transparent;
    display: inline-block;
    height: 17px;
    width: 17px;
    margin: 4px 0 0 8px;
}
#alert{
    display:inline-block;
    height: 17px;
}

#alertText{
  font: 10px sans-serif;
  color: #68707B;
  position: relative;
  top: -5px;
}