/* Brand management */
.odesk-logo{
  height: 26px;
  width: 85px;
  background: url("../assets/homepagesprite.png") no-repeat scroll 0 -175px transparent;
}

/*Map css*/
.feature {
  fill: #68707B;
  stroke: white;
}

.selected{
  stroke: #ccc;
  fill: #061F32;
}

.unselected{
  stroke: #ccc;
  fill: #168CE5;
}

.hidden{
  display: none;
}