#main{
  margin-top: 20px;
}

#table{
}

.row:nth-child(odd){
}
/* Brand management */
.odesk-logo{
  height:  26px;
  width:  85px;
  background:  url("../assets/homepagesprite.png") no-repeat scroll 0 -175px transparent;
  display:  inline-block;
  margin-top: 15px;
  float: right;
}

/*Map css*/
.feature {
  stroke: white;
}

.selected{
  stroke: #ccc;
}

.unselected{
  stroke: #ccc;
}

.hidden{
  display: none;
}

svg{

}

.active-ex{
  color: #168CE5;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.jumbotron .btn-large small {
  font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}


.front-buttons > div{
  text-align: center;
}

.selectable{
  cursor: pointer;
}

.selected{
  cursor: pointer;
}

.unselected{
  cursor: pointer;
}

.background-globe{
  position: fixed;
  top: 0px;
  left:0px;
  width: 50%;
  height: 100%;
  z-index: -1000;
}

.background-globe > svg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.background-globe > svg > path{
  fill: #EEEEEE;
}

a{
  text-decoration: none;
}