.frame {
  stroke: #000;
  fill: none;
  pointer-events: all;
}      

.feature {
  fill: #eee;
  stroke: #ccc;
}

.selected{
  fill: blue;
  stroke: #ccc;
}
.unselected{
  fill: red;
  stroke: #ccc;
}

#controls{
  width: 500px;
}
button{
  font-size: 20px;
}
#explain{
  width:700px;
  position:absolute;
  right: 0px;
  margin-right:10px;
  font-size:20px;
}

body {
  font: 13px sans-serif;
}

#chart svg {
  border: solid 1px #ccc;
}
#clock {
  position: absolute;
  right: 0px;
  top: 0px;
}
rect {
  fill: #fff;
}

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  fill-opacity: .2;
}

circle.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
