.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.feature {
  fill: #eee;
  stroke: #ccc;
}

.selected{
  fill: steelblue;
  stroke: #ccc;
}

.unselected{
  fill: lightsteelblue;
  stroke: #ccc;
}

#container {
  border: solid 1px #ccc;
}

#countries {
  width: 220px; 
  height: 482px;
  overflow-x:hidden;
  overflow-y:scroll;
  width: 12em;
  padding: 0 0 1em 0;
  margin-bottom: 1em;
  font-family: 'Trebuchet MS', 'Lucida Grande',
  Verdana, Lucida, Geneva, Helvetica, 
  Arial, sans-serif;
}

ul#countries-list{
  list-style: none;
}
#clock {
  position: absolute;
  right: 0px;
  top: 0px;
}
rect {
  fill: #fff;
}

